h1 {
	text-align: center;
	font-size: 300%;
	font-family: "Oswald"
}

h2 {
	text-align: center;
	font-size: 200%;
	font-family: "Oswald"
}

body {
	font-family: "Open Sans"
}

.logo {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 300%;
	font-family: "Oswald"
}