 <!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>Talia's Part of the Internet</title>

   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
   <link rel="stylesheet" href="{{ url_for('static',filename='css/template.css') }}">
   
 </head>
 <body>
    <header>
      <div class="container">
        <strong><nav>
          <a class="menu" href="{{ url_for('home') }}">TKROSE</a>
          <a href="{{ url_for('about') }}">About</a>
        </nav></strong>
        <h1 class="logo">First Web App</h1>
      </div>
    </header>
    
    {% block content %}
    {% endblock %}
    
 </body>
</html>
